@import url('./lib/color.less');
@import url('./components/faqs/index.css');
@import url('./components/login/index.css');
@import url('./components/clblocklist/index.css');
@import url('./components/cllist/index.css');
@import url('./layout.css');

// @import url('/node_modules/antd/dist/antd.min.css');

@media screen and (max-width: 320px) { //兼容小屏幕手机
    *{
    	zoom: 0.98;
    }
}


#app{
	background-color: @bg-color;
	height: 100%;
	overflow: hidden;
}

*{
  -webkit-overflow-scrolling: touch;
}

.ant-modal-body{
	overflow-x: hidden;
}


.example-img {
	width: 100%;
}

pre {
	white-space: pre-wrap;
}


* {
	padding: 0 0;
}