.repayment-info {
  height: 414pt;
  padding-left: 20pt;
  padding-right: 18pt;
  position: relative;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.repayment-info .money {
  height: 60pt;
  line-height: 60pt;
  border-bottom: dashed .9pt #cccccc;
}
.repayment-info .money > span:nth-child(1) {
  font-size: 13pt;
}
.repayment-info .money > span:nth-child(2) {
  color: #FF4A4A;
  font-size: 14pt;
  display: inline-block;
  float: right;
}
.repayment-info > section {
  padding-top: 18pt;
  font-size: 10.5pt;
}
.repayment-info .rp-account {
  margin-top: 15pt;
  background: url('/src/assets/components/repayment/01.png') no-repeat 0pt 0pt;
  background-size: 100%;
  height: 184pt;
  color: #ffffff;
  position: relative;
  padding-bottom: 10pt;
}
.repayment-info .rp-account > section:nth-child(1) {
  font-size: 14pt;
  text-align: center;
  height: 50pt;
  line-height: 50pt;
}
.repayment-info .rp-account > section:nth-child(2),
.repayment-info .rp-account > section:nth-child(3) {
  font-size: 12pt;
  padding-left: 14pt;
  line-height: 1.2;
  padding-bottom: 2pt;
}
.repayment-info .rp-account > section:nth-child(2) > span,
.repayment-info .rp-account > section:nth-child(3) > span {
  font-size: 12pt;
}
.repayment-info .rp-account > section:nth-child(3) {
  padding-top: 2pt;
}
.repayment-info .upload-btn .cl-success-btn {
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  color: #ffffff;
  border: none;
  width: 190pt;
  height: 47pt;
  border-radius: 40pt;
  font-size: 14pt;
  background-color: #85D66B;
  -moz-box-shadow: 10pt 10pt 10pt;
  -webkit-box-shadow: 3pt 3pt 10pt #D2EBD1;
}
.repayment-info .upload-btn .cl-success-btn:active,
.repayment-info .upload-btn .cl-success-btn:hover,
.repayment-info .upload-btn .cl-success-btn:focus {
  outline: none;
  background-color: #85D06B;
}
.repayment-info .upload-btn .cl-success-btn.big {
  zoom: 1;
}
.repayment-info .upload-btn .cl-success-btn.small {
  width: 180pt;
  zoom: 0.6;
}
.repayment-info .upload-btn .cl-success-btn.success {
  background-color: #85D66B;
  -moz-box-shadow: 10pt 10pt 10pt;
  -webkit-box-shadow: 3pt 3pt 10pt #D2EBD1;
}
.repayment-info .upload-btn .cl-success-btn > a {
  color: #ffffff;
}
.repayment-info .upload-btn > button {
  font-size: 11pt;
}
.repayment-info .upload-btn > button > a {
  white-space: pre-wrap;
}
.repayment-confirm .rp-upload-pic {
  border-bottom: 1px solid #eeeeee;
}
.repayment-confirm .rp-upload-pic > div:nth-child(1) {
  font-size: 14pt;
  padding-top: 20pt;
  padding-bottom: 10pt;
  padding-left: 18pt;
  border-bottom: 1px solid #eeeeee;
  text-indent: 28pt;
  position: relative;
}
.repayment-confirm .rp-upload-pic > div:nth-child(1) > i {
  color: #69A754;
  font-size: 20pt;
  display: block;
  position: absolute;
  left: -11pt;
  top: 15pt;
}
.repayment-confirm .rp-upload-pic .pic-remark {
  padding-left: 18pt;
  padding-top: 12pt;
  padding-bottom: 12pt;
  font-size: 12pt;
  color: #666666;
}
.repayment-confirm .photo-list {
  margin-top: 10px;
  margin: 10px 18pt 0 18pt;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.repayment-confirm .photo-list > div {
  display: inline-block;
  width: 60pt;
  height: 60pt;
  border: solid 1px #DADADA;
  border-radius: 4px;
  position: relative;
  margin-right: 10px;
}
.repayment-confirm .photo-list > div > img {
  width: 100%;
  height: 100%;
  padding: 3pt;
}
.repayment-confirm .photo-list > div > i {
  display: block;
  position: absolute;
  z-index: 999;
  right: -10px;
  top: -10px;
  font-size: 15pt;
}
.repayment-confirm .photo-list .icon-cross-revert {
  font-size: 58px;
  color: #DADADA;
  line-height: 58pt;
}
.repayment-confirm .photo-list .upload-btn {
  position: relative;
  display: block;
  overflow: hidden;
  width: 60pt;
  height: 60pt;
  text-align: center;
}
.repayment-confirm .photo-list .upload-btn .upfile {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
}
.repayment-confirm .rp-remark {
  padding-left: 18pt;
  padding-top: 10pt;
  padding-right: 18pt;
}
.repayment-confirm .rp-remark > div:nth-child(1) {
  position: relative;
  font-size: 14pt;
  text-indent: 28pt;
  margin-bottom: 10pt;
}
.repayment-confirm .rp-remark > div:nth-child(1) > i {
  color: #69A754;
  font-size: 18pt;
  display: block;
  position: absolute;
  left: -28pt;
  top: -3pt;
}
.repayment-confirm .rp-remark > textarea {
  width: 100%;
  font-size: 12pt;
}
.repayment-confirm .rp-example {
  background-color: #eeeeee;
  position: relative;
  margin-bottom: 50pt;
}
.repayment-confirm .rp-example > div:nth-child(1) {
  height: 40pt;
  border-bottom: dashed 1px #cccccc;
  font-size: 10pt;
  text-align: center;
  line-height: 40pt;
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}
.repayment-confirm .rp-example > img {
  width: 80%;
  max-width: 400px;
  height: 300px;
  margin: 20px 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}
.repayment-confirm .rp-confirm {
  margin: 20pt 0;
}
.repayment-confirm .rp-confirm .cl-success-btn {
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  color: #ffffff;
  border: none;
  width: 190pt;
  height: 47pt;
  border-radius: 40pt;
  font-size: 14pt;
  background-color: #85D66B;
  -moz-box-shadow: 10pt 10pt 10pt;
  -webkit-box-shadow: 3pt 3pt 10pt #D2EBD1;
}
.repayment-confirm .rp-confirm .cl-success-btn:active,
.repayment-confirm .rp-confirm .cl-success-btn:hover,
.repayment-confirm .rp-confirm .cl-success-btn:focus {
  outline: none;
  background-color: #85D06B;
}
.repayment-confirm .rp-confirm .cl-success-btn.big {
  zoom: 1;
}
.repayment-confirm .rp-confirm .cl-success-btn.small {
  width: 180pt;
  zoom: 0.6;
}
.repayment-confirm .rp-confirm .cl-success-btn.success {
  background-color: #85D66B;
  -moz-box-shadow: 10pt 10pt 10pt;
  -webkit-box-shadow: 3pt 3pt 10pt #D2EBD1;
}
.repayment-confirm .rp-confirm .cl-success-btn > a {
  color: #ffffff;
}
.repayment-confirm .center {
  text-align: center;
}
.repayment-confirm #fileUploadForm {
  position: relative;
}
.repayment-confirm .progress {
  zoom: 0.59;
}
.repayment-confirm .block {
  display: inline-block !important;
}
.repayment-confirm .hidden {
  display: hidden !important;
}
