.cl-block-list {
  margin: 20px 10px;
  border-radius: 10px !important;
}
.cl-block-list .ant-card-head {
  line-height: 30px;
  height: 30px;
}
.cl-block-list .ant-card-body {
  border: none;
  padding: 0 !important;
}
.cl-block-list .ant-card-body .ant-card-grid {
  padding: 0;
}
.cl-block-list .ant-card-body .ant-card-grid > div > div {
  height: 48px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cl-block-list .ant-card-body .ant-card-grid > div > div > img {
  height: 45px;
  width: 45px;
}
.cl-block-list .ant-card-body .ant-card-grid .block-title {
  background-color: #ecf6fd;
  border-right: 1px solid #eeeeee;
  font-size: 13px;
  font-weight: 500;
}
.cl-block-list .anticon-check-circle {
  color: green;
}
.cl-block-list .anticon-close-circle {
  color: red;
}
